<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="game.css">
  <title>Document</title>
</head>

<body style="background-color: #434343;">

  <div id="q-app">
    <div data-v-7528a3da="" class="q-layout q-layout--standard main" style="min-height: 934px;">
      <div data-v-7528a3da="" class="q-page-container" style="padding-top: 118px; padding-bottom: 224px;">
        <main data-v-0e188196="" data-v-7528a3da="" class="q-page" style="min-height: 592px;">
          <section data-v-0e188196="" class="preview">
            <div data-v-0e188196="" class="q-toolbar row no-wrap items-center toolbar base-padding text-white">
              <a
                data-v-0e188196="" tabindex="0" type="button" href="/shop"
                class="q-btn inline q-btn-item non-selectable q-btn__back q-btn--standard q-btn--rectangle q-focusable q-hoverable">
                <div tabindex="-1" class="q-focus-helper"></div>
                <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                  <div>Back</div>
                </div>
              </a>
              <div data-v-0e188196="" class="q-toolbar__title ellipsis flex items-center">
                <div data-v-0e188196="" class="flex column q-mr-lg">The Witcher III<div data-v-0e188196=""
                    class="q-rating row inline items-center q-rating--non-editable text-white" style="font-size: 1em;">
                    <i aria-hidden="true" class="material-icons q-icon q-rating__icon">grade</i><i aria-hidden="true"
                      class="material-icons q-icon q-rating__icon">grade</i><i aria-hidden="true"
                      class="material-icons q-icon q-rating__icon">grade</i><i aria-hidden="true"
                      class="material-icons q-icon q-rating__icon">grade</i><i aria-hidden="true"
                      class="material-icons q-icon q-rating__icon">grade</i></div>
                </div>
                <div data-v-acc9a86e="" data-v-0e188196="" class="tags roboto text-bold"><button data-v-acc9a86e=""
                    tabindex="0" type="button"
                    class="q-btn inline q-btn-item non-selectable tags__item q-btn--standard q-btn--rectangle q-focusable q-hoverable q-mr-sm">
                    <div tabindex="-1" class="q-focus-helper"></div>
                    <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                      <div>RPG</div>
                    </div>
                  </button><button data-v-acc9a86e="" tabindex="0" type="button"
                    class="q-btn inline q-btn-item non-selectable tags__item q-btn--standard q-btn--rectangle q-focusable q-hoverable q-mr-sm">
                    <div tabindex="-1" class="q-focus-helper"></div>
                    <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                      <div>FIGHT</div>
                    </div>
                  </button><button data-v-acc9a86e="" tabindex="0" type="button"
                    class="q-btn inline q-btn-item non-selectable tags__item q-btn--standard q-btn--rectangle q-focusable q-hoverable q-mr-sm">
                    <div tabindex="-1" class="q-focus-helper"></div>
                    <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row">
                      <div>action</div>
                    </div>
                  </button></div>
              </div>
              <div data-v-0e188196="" class="release flex roboto">
                <div data-v-0e188196="" class="release__date q-mr-sm">Released on Sep 13, 2016</div>
                <div data-v-0e188196="" class="release__divider q-mr-sm"></div>
                <div data-v-0e188196="" class="release__publisher">CD PROJECT RED</div>
              </div>
            </div>
            <div data-v-0e188196="" class="preview__container">
              <div data-v-0e188196="" role="img" class="q-img overflow-hidden game-preview">
                <div style="padding-bottom: 41.6667%;"></div>
                <div class="q-img__image absolute-full"
                  style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                </div>
                <div class="q-img__content absolute-full"></div>
              </div>
            </div>
          </section>
          <section data-v-0e188196="" class="info">
            <div data-v-0e188196="" class="q-toolbar row no-wrap items-center base-padding text-white bg-primary">
              <button data-v-0e188196="" tabindex="0" type="button"
                class="q-btn inline q-btn-item non-selectable platform-icon q-pa-md q-btn--flat q-btn--rectangle q-focusable q-hoverable q-mr-sm">
                <div tabindex="-1" class="q-focus-helper"></div>
                <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                    aria-hidden="true" class="fab fa-linux q-icon"> </i></div>
              </button><button data-v-0e188196="" tabindex="0" type="button"
                class="q-btn inline q-btn-item non-selectable platform-icon q-pa-md q-btn--flat q-btn--rectangle q-focusable q-hoverable q-mr-sm">
                <div tabindex="-1" class="q-focus-helper"></div>
                <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                    aria-hidden="true" class="fab fa-windows q-icon"> </i></div>
              </button><button data-v-0e188196="" tabindex="0" type="button"
                class="q-btn inline q-btn-item non-selectable platform-icon q-pa-md q-btn--flat q-btn--rectangle q-focusable q-hoverable q-mr-sm">
                <div tabindex="-1" class="q-focus-helper"></div>
                <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                    aria-hidden="true" class="fab fa-apple q-icon"> </i></div>
              </button>
              <div data-v-0e188196="" class="q-space"></div><button data-v-0e188196="" tabindex="0" type="button"
                class="q-btn inline q-btn-item non-selectable q-pa-md q-mr-sm bg-secondary q-btn--standard q-btn--rectangle q-focusable q-hoverable">
                <div tabindex="-1" class="q-focus-helper"></div>
                <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                    aria-hidden="true" class="fas fa-heart q-icon"> </i></div>
              </button><button data-v-0e188196="" tabindex="0" type="button"
                class="q-btn inline q-btn-item non-selectable q-pa-md bg-secondary q-btn--standard q-btn--rectangle q-focusable q-hoverable">
                <div tabindex="-1" class="q-focus-helper"></div>
                <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><b
                    data-v-0e188196="" class="game-price roboto">$ 0</b></div>
              </button>
            </div>
          </section>
          <section data-v-0e188196="" class="media base-padding">
            <div data-v-0e188196="" class="row q-col-gutter-md">
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" class="q-video"><video data-v-0e188196="" width="100%" height="100%"
                          controls="controls">
                          <source data-v-0e188196=""
                            src="https://static.protocol.one/qilin/videos/y2mate.com - a_night_to_remember_launch_cinematic_the_witcher_iii_wild_hunt_ehjJ614QfeM_1080p-hQEREg.mp4"
                            type="video/mp4"></video></div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" class="q-video"><video data-v-0e188196="" width="100%" height="100%"
                          controls="controls">
                          <source data-v-0e188196=""
                            src="https://static.protocol.one/qilin/videos/y2mate.com - the_witcher_3_wild_hunt_killing_monsters_cinematic_trailer_c0i88t0Kacs_1080p-EGtiDd.mp4"
                            type="video/mp4"></video></div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" role="img" class="q-img overflow-hidden">
                        <div style="padding-bottom: 41.6667%;"></div>
                        <div class="q-img__image absolute-full"
                          style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                        </div>
                        <div class="q-img__content absolute-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" role="img" class="q-img overflow-hidden">
                        <div style="padding-bottom: 41.6667%;"></div>
                        <div class="q-img__image absolute-full"
                          style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                        </div>
                        <div class="q-img__content absolute-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" role="img" class="q-img overflow-hidden">
                        <div style="padding-bottom: 41.6667%;"></div>
                        <div class="q-img__image absolute-full"
                          style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                        </div>
                        <div class="q-img__content absolute-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" role="img" class="q-img overflow-hidden">
                        <div style="padding-bottom: 41.6667%;"></div>
                        <div class="q-img__image absolute-full"
                          style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                        </div>
                        <div class="q-img__content absolute-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" role="img" class="q-img overflow-hidden">
                        <div style="padding-bottom: 41.6667%;"></div>
                        <div class="q-img__image absolute-full"
                          style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                        </div>
                        <div class="q-img__content absolute-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-0e188196="" class="col-12 col-sm-6 col-md-3">
                <div data-v-0e188196="" class="q-card bg-grey-9 q-card--dark">
                  <div data-v-0e188196="" class="q-card__section q-pa-none">
                    <div data-v-0e188196="" class="media__item">
                      <div data-v-0e188196="" role="img" class="q-img overflow-hidden">
                        <div style="padding-bottom: 41.6667%;"></div>
                        <div class="q-img__image absolute-full"
                          style="background-image: url(&quot;https://static.protocol.one/qilin/images/ss_849ec8dcc6f8df1c0b2c509584c9fc9e51f88cfa.1920x1080-d2650.jpg&quot;); background-size: cover; background-position: 50% 50%;">
                        </div>
                        <div class="q-img__content absolute-full"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section data-v-0e188196="" class="row q-col-gutter-md base-padding text-grey">
            <div data-v-0e188196="" class="requirements col-12 col-md-8">
              <h4 data-v-0e188196="" class="base-title q-mb-lg">System requirements</h4>
              <div data-v-0e188196="" role="tablist"
                class="q-tabs row no-wrap items-center text-white q-tabs--not-scrollable">
                <!----><i aria-hidden="true"
                  class="material-icons q-icon q-tabs__arrow q-tabs__arrow--left q-tab__icon">chevron_left</i>
                <div class="q-tabs__content row no-wrap items-center self-stretch q-tabs__content--align-left">
                  <div data-v-0e188196="" tabindex="-1" role="tab" aria-selected="true"
                    class="q-tab relative-position self-stretch flex flex-center text-center q-pa-none q-tab--active q-focusable q-hoverable cursor-pointer"
                    data-name="linux">
                    <div tabindex="-1" class="q-focus-helper"></div>
                    <div
                      class="q-tab__content self-stretch flex-center relative-position no-pointer-events q-anchor--skip non-selectable column">
                      <button data-v-0e188196="" tabindex="0" type="button"
                        class="q-btn inline q-btn-item non-selectable q-btn--flat q-btn--rectangle q-focusable q-hoverable">
                        <div tabindex="-1" class="q-focus-helper"></div>
                        <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                            aria-hidden="true" class="fab fa-linux q-icon"> </i></div>
                      </button></div>
                    <div class="q-tab__indicator absolute-bottom"></div>
                  </div>
                  <div data-v-0e188196="" tabindex="0" role="tab"
                    class="q-tab relative-position self-stretch flex flex-center text-center q-pa-none q-tab--inactive q-focusable q-hoverable cursor-pointer"
                    data-name="windows">
                    <div tabindex="-1" class="q-focus-helper"></div>
                    <div
                      class="q-tab__content self-stretch flex-center relative-position no-pointer-events q-anchor--skip non-selectable column">
                      <button data-v-0e188196="" tabindex="0" type="button"
                        class="q-btn inline q-btn-item non-selectable q-btn--flat q-btn--rectangle q-focusable q-hoverable">
                        <div tabindex="-1" class="q-focus-helper"></div>
                        <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                            aria-hidden="true" class="fab fa-windows q-icon"> </i></div>
                      </button></div>
                    <div class="q-tab__indicator absolute-bottom"></div>
                  </div>
                  <div data-v-0e188196="" tabindex="0" role="tab"
                    class="q-tab relative-position self-stretch flex flex-center text-center q-pa-none q-tab--inactive q-focusable q-hoverable cursor-pointer"
                    data-name="mac_os">
                    <div tabindex="-1" class="q-focus-helper"></div>
                    <div
                      class="q-tab__content self-stretch flex-center relative-position no-pointer-events q-anchor--skip non-selectable column">
                      <button data-v-0e188196="" tabindex="0" type="button"
                        class="q-btn inline q-btn-item non-selectable q-btn--flat q-btn--rectangle q-focusable q-hoverable">
                        <div tabindex="-1" class="q-focus-helper"></div>
                        <div class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                            aria-hidden="true" class="fab fa-apple q-icon"> </i></div>
                      </button></div>
                    <div class="q-tab__indicator absolute-bottom"></div>
                  </div>
                </div><i aria-hidden="true"
                  class="material-icons q-icon q-tabs__arrow q-tabs__arrow--right q-tab__icon q-tabs__arrow--faded">chevron_right</i>
              </div>
              <div data-v-0e188196="" class="q-tab-panels q-panel-parent bg-transparent">
                <div role="tabpanel" class="q-panel scroll">
                  <div data-v-0e188196="" class="q-tab-panel q-pl-none">
                    <div data-v-0e188196="" class="row">
                      <div data-v-0e188196="" class="col-12 col-md-6">
                        <h5 data-v-0e188196="" class="base-title text-white text-normal">Minimal</h5>
                        <table data-v-0e188196="" class="requirements__table">
                          <tbody data-v-0e188196="" class="vertical-top">
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">os</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">Ubuntu 16.10</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">cpu</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">Intel / AMD 2x at 2.8 ГГц</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">ram</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">1.0 GB</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">gpu</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">nVidia GeForce 8600/9600GT, ATI/AMD
                                Radeon
                                HD2600/3600</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">disk_space</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">10.0 GB</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div data-v-0e188196="" class="col-12 col-md-6">
                        <h5 data-v-0e188196="" class="base-title text-white text-normal">Recommended</h5>
                        <table data-v-0e188196="" class="requirements__table">
                          <tbody data-v-0e188196="" class="vertical-top">
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">os</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">Ubuntu 18.10</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">cpu</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">Intel / AMD 2x at 2.8 ГГц</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">ram</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">2.0 GB</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">gpu</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">nVidia GeForce 8600/9600GT, ATI/AMD
                                Radeon
                                HD2600/3600</td>
                            </tr>
                            <tr data-v-0e188196="">
                              <td data-v-0e188196="" class="q-pl-none q-pt-sm text-uppercase">disk_space</td>
                              <td data-v-0e188196="" class="q-pa-sm text-white">10.0 GB</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-v-0e188196="" class="languages col-12 col-md-4">
              <h4 data-v-0e188196="" class="base-title q-mb-lg">Language support</h4>
              <table data-v-0e188196="" class="languages__table">
                <thead data-v-0e188196="" class="vertical-top">
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-bold">Language</td>
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-bold">Text</td>
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-bold">Audio</td>
                  </tr>
                </thead>
                <tbody data-v-0e188196="" class="vertical-top">
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-white text-bold">Russian</td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                  </tr>
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-white text-bold">France</td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white" style="display: none;"> </i></td>
                  </tr>
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-white text-bold">Deutsch</td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                  </tr>
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-white text-bold">English</td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                  </tr>
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-white text-bold">Spanish</td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white" style="display: none;"> </i></td>
                  </tr>
                  <tr data-v-0e188196="">
                    <td data-v-0e188196="" class="q-pt-sm q-pr-sm q-pb-sm text-white text-bold">Portuguese</td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white"> </i></td>
                    <td data-v-0e188196="" class="q-pa-sm"><i data-v-0e188196="" aria-hidden="true"
                        class="fas fa-check q-icon languages__icon text-white" style="display: none;"> </i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <!---->
        </main>
      </div>
    </div>
  </div>
</body>

</html>