.preview[data-v-0e188196] {
  position: relative;
  min-height: calc(100vw / 2);
  max-height: 650px;
  background-color: rgba(255,255,255,0.5);
}
.preview__container[data-v-0e188196] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.game-preview[data-v-0e188196] {
  width: 100%;
  height: 100%;
}
.toolbar[data-v-0e188196] {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 120px;
  background: rgba(38,38,38,0.6);
}
.release[data-v-0e188196] {
  font-size: 16px;
}
.release__divider[data-v-0e188196] {
  width: 1px;
  background-color: #818181;
}
.platform-icon[data-v-0e188196] {
  cursor: default;
}
.game-price[data-v-0e188196] {
  font-size: 16px;
  letter-spacing: 0.05em;
}
.media__item[data-v-0e188196] {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  background-color: #000;
}
.media__item > *[data-v-0e188196] {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.requirements__table[data-v-0e188196] {
  width: 100%;
  font-size: 16px;
}
.languages__table[data-v-0e188196] {
  width: 100%;
  font-size: 16px;
}
.languages__icon[data-v-0e188196] {
  font-size: 14px;
}
