os:
- bionic
language: node_js

node_js:
- 11

stages:
- name: deploy
  if: branch IN (master, develop) AND type != pull_request
jobs:
  include:
  - stage: deploy
    services: docker
    install: true
    script:
    - docker run -it -e JENKINS_AUTH_TOKEN=$JENKINS_AUTH_TOKEN -e JENKINS_BUILD_TOKEN=$JENKINS_BUILD_TOKEN
      -e JENKINS_BUILD_PROJECT=$TRAVIS_REPO_SLUG -e JENKINS_BUILD_BRANCH=$TRAVIS_BRANCH
      p1hub/p1jenkinstrigger

notifications:
  email: false
  slack:
    secure: bQy4pPIsKlcmG9OzT/SJeSBKtebrkNcg7zk5mkSo7CoxyzH+G1rq8gYwFM2papOY9FpSMuDToQW9wfJur8wXtomaTbpgOTfjQkMDEFTsWPx/QRZAP9FKDt9/wBWZvwMi+CmEv8ksj4c90c7TDwFIAe+SC0LCLsz/iQ9UTxh7Q1nleCwwKteuT5lTJOz7ov/IoFnM7m7yPjKHlSHal1By/aZYD0Jtd244L1TuomNB2Ccj1QeBzlSUI+fpCe3UL9uRV/OE1fUNGi4g+ZnwBVd3zxv8kwPcdYCJbUzYqEVDFNJOzscJgkU5cx4/qleSo0PYQbPVjo6byEMC9wR+Rcxv/H1zASKWk8HAYKb6bq7nufOP0kI5hxt6tEu5Rbusz7RQXr3/QIbT+bMcIKp2ARbGoClzVkO4n3/8it/cum4fVB6nrqjEpJANwo6buaW0W2jVbXxcAiYESBxpQasSCr/z2+U0Hxga2+cwolP0Dl3xyOfGpQrZcB/5whhhsiW2gGnVPhzvGfhG6K176qeliHQ0iN+8kL1NkbJiw9wRpuPC+AVc1IoFBhRUTfH7bCXUPfu7WVXrROPtIFdg6ASLt1wiiIZvggBUM+HkW643aPXbdEhCjLH7F5nnd0IfQM2Mymdc+hTf/ZlgJQ3qZxEL3ynjzWkUZ7yyVELP7IaxH5luCkQ=
