.carousel .slide {
  background-color: transparent !important;
}

ul.control-dots {
  padding-inline-start: 0 !important;
}

.carousel .control-dots .dot {
  position: relative;
  transition: opacity .25s ease-in;
  opacity: .6;
  background: #121212 !important;
  width: 16px;
  height: 16px;
}

.carousel .control-dots .dot.selected::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: white;
}